.picture__card-btn {
  padding: 0;
  border: 0;
  width: 30px;
  height: 19px;
  background: url("../../../images/svg/Vector.svg") right no-repeat;
  transition: opacity .4s ease-in-out, background .4s ease-in-out;
  cursor: pointer;
}

.picture__card-btn:hover {
  opacity: .5;
}


