.picture__card-btn {
  width: 28px;
  height: 19px;
  background: url(../../../images/svg/like.svg) center no-repeat;
  transition: opacity .4s ease-in-out;
}
.picture__card-btn:hover {
  opacity: .5;
}
