.profile__btn {
  width: 24px;
  height: 24px;
  background: url(../../../images/svg/editButton.svg) center no-repeat;
}
@media (max-width: 720px) {
  .profile__btn {
    background-size: 18px 18px;
    position: absolute;
    left: 100%;
    top: 6px;
    margin-left: 5px;
  }
}
