.picture {
  display: grid;
  grid-template-columns: repeat(3,minmax(282px,auto));
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 1024px) {
  .picture {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(282px,1fr));
  }
}
