.picture {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, auto));
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 1024px) {
  .picture {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}

@media (max-width: 720px) {
  .picture {
    row-gap: 19px;
  }
}
