.footer {
  padding-top: 20px;
  padding-bottom: 60px;
}


@media (max-width: 720px) {
  .footer {
    padding-top: 6px;
    padding-bottom: 36px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
